<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Anonymous Message</title>
</head>
<body>
    <H1>Send an Anonymous message to the user!</H1>

    {% block content %}
    
    <h4>You can include your email address to get a response :D</h4>

    <form method="POST">
        {{form.hidden_tag()}}
        <div>
        {{form.email.label}} 
        <br> 
        {{form.email()}}
    </div>

    <div>
        {{form.name.label}} 
        <br> 
        {{form.name()}}
    </div>

<fieldset>
  <legend>Notify the user about your name & email?</legend>

  <div>
    <input type="radio" id="huey" name="drone" value="huey" checked />
    <label for="huey">Yes</label>
  </div>

  <div>
    <input type="radio" id="dewey" name="drone" value="dewey" />
    <label for="dewey">No</label>
  </div>
</fieldset>

        {{form.message.label}} <br> {{form.message()}}
    </div>
          <br>
          <div>
        {{form.submit()}}
    </div>
    </form>

    {% endblock %}
    <br>
<div>
  <p>Want to receive your own Anonymous messages?</p>
  
  <a href=" {{ url_for('signup') }}  ">Sign Up!</a>
</div>

</body>
</html>